.btn-view {
  float: right;
  background: white;
  padding: 1em;
  width: 120px;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.2);
  box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.2);
  z-index: 10;
}

.header-photos {
  margin-top: -3%;
  z-index: 0
}

.img-top {
  height: 290px;
  object-fit: cover;
  width: 100%;
}

.padding-z {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.padding-r-z {
  padding-right: 0px !important;
}

.card-m {
  z-index: 10;
  position: absolute;
  top: 285px;
  width: 450px;
  height: auto;
  left: 70px;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(216, 227, 235, 0.2);
  background-color: #ffffff;
}

.item-info {
  display: inline-flex;
  align-items: baseline;
}

.margin-l-ft {
  margin-left: 15px;
}
.margin-l-tty {
  margin-left: 30px;
}

.info {
  margin-top: 25px;
}

.info span, h6, p {
  color: #484848 !important;
}

.card-body {
  padding: 3em !important;
}

.text-center {
  text-align: center;
}

.m-top-tf {
  margin-top: 35px;
}

.circle-b {
  font-size: 6px;
  vertical-align: middle;
}

.bg-card {
  float: right;
  width: 50%;
  background-color: #f8f9fa;
  background-clip: border-box;
  border: 0;
  border-radius: 0;
  position: relative;
  display: inline-flex;
  left: 30px;
  margin-bottom: 60px;
}

.a-no-reset {
  display: block;
  margin-left: 30px;
}

.font-span {
  font-size: 18px;
  color: #484848 !important;
  display: block;
  margin-top: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-fac {
  width: 80%;
  position: relative;
  margin: 0 auto;
  border-radius: 4px;
}

.btn-header {
  position: relative;
  right: 0;
  left: 53vw;
  top: 55px;
  z-index: 20;
}

.span-header {
  top: 53px;
  position: relative;
  z-index: 20;
  left: 28px;
  color: #dbedf5;
  background: #2d54fe;
  padding: 0.2em;
  border-radius: 4px;
}
.brigth{
  filter: brightness(0.5);
}
