<section class="container" *ngIf="patient">
  <section>
    <span class="span-header" (click)="goBack()"><i class="fa fa-arrow-left"></i> Volver</span>
    <button class="btn btn-light btn-header">
      <i class="fas fa-images"></i>
      Ver Fotos
    </button>
  </section>
  <section class="row" *ngIf="patient?.frontPicture || patient?.basePicture || patient?.profilePicture || patient?.customPicture">
    <section *ngIf="patient?.frontPicture" class="col-md-6 padding-r-z">
      <img class="img-top" src="{{patient?.frontPicture}}" alt="Card image cap">
    </section>
    <section *ngIf="!patient?.frontPicture" class="col-md-6 padding-r-z">
      <img class="img-top brigth" src="assets/images/404.jpg" alt="Card image cap">
    </section>
    <section *ngIf="patient?.basePicture" class="col-md-3 padding-z">
      <img class="img-top" src="{{patient?.basePicture}}" alt="Card image cap">
    </section>
    <section *ngIf="!patient?.basePicture" class="col-md-3 padding-z">
      <img class="img-top brigth" src="assets/images/404.jpg" alt="Card image cap">
    </section>
    <section *ngIf="patient?.profilePicture" class="col-md-3 padding-z">
      <img class="img-top" src="{{patient?.profilePicture}}" alt="Card image cap">
    </section>
    <section *ngIf="!patient?.profilePicture" class="col-md-3 padding-z">
      <img class="img-top brigth" src="assets/images/404.jpg" alt="Card image cap">
    </section>
  </section>
  <section class="row" *ngIf="!patient?.frontPicture && !patient?.basePicture && !patient?.profilePicture && !patient?.customPicture">
    <section class="col-md-6 padding-r-z">
      <img class="img-top brigth" src="assets/images/404.jpg" alt="Card image cap">
    </section>
    <section class="col-md-6 padding-z">
      <img class="img-top brigth" src="assets/images/404.jpg" alt="Card image cap">
    </section>
  </section>
  <section class="card-m">
    <section class="card-body">
      <h2 class="card-title">{{ patient?.user?.firstName }} {{ patient?.user?.lastName }}</h2>
      <h5 class="card-subtitle mb-2 text-muted">{{ patient?.patient?.gender }}</h5>
      <section class="info">
        <span class="item-info">
          <i class="fa fa-phone"></i>
          <h6 class="card-subtitle mb-2 text-muted margin-l-ft">Teléfono</h6>
        </span>
        <p class="card-text margin-l-tty">{{ patient?.patient?.phone }}</p>
      </section>
      <section class="info">
        <span class="item-info">
          <i class="fas fa-at"></i>
          <h6 class="card-subtitle mb-2 text-muted margin-l-ft">Correo eletrónico</h6>
        </span>
        <p class="card-text margin-l-tty">{{ patient?.user?.email }}</p>
      </section>
      <section class="info">
        <a class="card-text margin-l-tty" routerLink="/administrator/patient/info/{{ patient?.id }}">Ver información detallada</a>
      </section>
    </section>
  </section>
  <section class="card bg-card">
    <section class="card-body">
      <section class="info mb-4">
        <span class="item-info">
          <i class="fas fa-address-card"></i>
          <h6 class="card-subtitle mb-2 text-muted margin-l-ft">¿Qué opina de su nariz?</h6>
        </span>
        <p class="card-text margin-l-tty">{{ patient?.opinionNose }}</p>
      </section>
      <button class="btn btn-primary btn-fac" data-toggle="modal" data-target="#DiagModal">
        <i class="fas fa-pencil-ruler"></i>
        Diagnosticar y Facturar
      </button>
    </section>
  </section>
</section>
<app-diagnostics></app-diagnostics>
