body{
  background-color: #f8f9fa;
}
.header-text {
	font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $color-gray-title;
  margin-bottom: 40px;
}

.bg-color-1 {
  background-color: $gray-4;
}

.btn-1 {
  text-align: center;
  border-radius: 5px;
}

.btn-1.primary {
  background: $blue;
  color: $white !important;
}

.input {
  border: 1px solid $gray-3;
}

.input:focus {
  border-color: $blue;
  box-shadow: none;
}
