// Estilos predeterminados para las cabeceras de los modales sm, lg, xl y xxl
.modal-header {
  background-color: #eff3f542;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 15px;
  padding: 1.2em;

  h4 {
    color: #484848;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  button.btn-light {
    color: #c5cfd5;
    background-color: transparent;
    border-color: transparent;
    border-radius: 50%;
  }
}

// Estilos de las clases para imagenes dentro de los modales
.container-modal-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.img-info-modal {
  width: 200px;
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
}

// Media querie para anchura del modal sm
@media (min-width: 576px) {
  .modal-sm {
    max-width: 350px;
  }
}

// Media querie para anchura del modal lg
@media (min-width: 992px) {
  .modal-lg {
    max-width: 690px;
  }
}

// Media querie para anchura del modal xxl
@media (min-width: 576px) {
  .modal-xxl {
    max-width: 100%;
    margin: 0;
  }
}

// Estilos para modal xxl (pantalla completa)
.modal-xxl {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.modal-dialog .modal-xxl {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-xxl .modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.modal-xxl.modal-body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  overflow: auto;
  padding: 0;
}
