.card-table-query {
  margin-top: 35px;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(216, 227, 235, 0.2);
  background-color: #ffffff;
  margin-right: 30px;
  padding-top: 20px;

  mfBootstrapPaginator {
    font-size: small;
  }

  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #616e7b;
    border-color: #5f7082;
  }

  .page-link {
    position: relative;
    display: block;
    padding: .2rem .5rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 1px solid #dee2e6;
  }

  th {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #c5cfd5;
  }

  tr {
    width: 500px;
    height: 60px;
    border-radius: 4px;
    box-shadow: 0 3px 16px 0 #f5f7fa;
    border: solid 1px #fafbfc;
    background-color: #ffffff;
  }

  .table thead th {
    border-bottom: none;
  }

  .table td, .table th {
    border-top: none;
  }

  table tr {
    border-collapse:separate;
    border-spacing: 0 1em;
  }

  .info-name {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #3b86ff;
  }

  .info-details {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #818a91;
  }

  .text-t-header {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
  }

  .header-table {
    padding: 20px;
    display: inline-flex;
    width: 100%;
  }

  #btn-t-h {
    color: #3b86ff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 48%;
  }

  .circle-img{
    width: 30.6px;
    height: 30.6px;
    object-fit: cover;
    border-radius: 21px;
    border: solid 1px #ffffff;
  }

  .padding-top-img{
    padding-top: 5px;
  }

  #img-circle {
    width: 30.6px;
    height: 30.6px;
    border-radius: 21px;
    border: solid 1px #ffffff;
    background-color: #ebf3ff;
    position: relative;
    display: inline-flex;
    margin-left: -14px;
    padding-top: 2px;
  }

  .font-img-circle {
    font-size: 13px;
    letter-spacing: normal;
    text-align: left;
    color: #3b86ff;
    margin-left: 4px;
    padding: 2px;
  }

  .btn-light {
    background: #606e7b21;
    color: gray;
  }

  .input-filter {
    height: auto;
    font-size: small;
  }

  #dropdownMenuOffset.dropdown-toggle::after {
    display: none;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }
}
