<ng-template #content let-c="close" let-d="dismiss">
   <!--Modal Header-->
  <section class="modal-header">
    <h4>Gestionar foto</h4>
    <button type="button" class="btn btn-light" (click)="closeModal('app-upload-photo')">
      <span>
        <i class="fas fa-times"></i>
      </span>
    </button>
  </section>
   <!--Modal Body-->
  <section class="modal-body">
    <app-avatar-card [type]="'avatar'" [userId]="administratorId"></app-avatar-card>
  </section>
</ng-template>
