<ng-template #content let-c="close" let-d="dismiss">
  <!--Modal Header-->
  <section class="modal-header">
    <h4>{{ title }}<span class="badge badge-secondary"></span></h4>
    <button type="button" (click)="closeModal('manage-administrator-modal')" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" class="white-text">&times;</span>
    </button>
  </section>
  <!--Modal Body-->
  <section class="modal-body">
    <form [formGroup]="administratorFormGroup" (ngSubmit)="save()">
        <section class="tab-pane fade show active">
          <section class="p-2">
            <section class="card border-0" id="profile">
              <section class="row">
                  <section class="col-12">
                    <section class="col">
                      <!-- Nombre -->
                      <section class="form-group row">
                        <label for="firstName" class="col-4 col-form-label">Nombres</label>
                        <section class="col-md-8 input-group">
                          <section class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </section>
                          <input type="text" formControlName="firstName" class="form-control shadow-none" id="firstName" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors, 'is-valid': submitted && !f['firstName'].errors }">
                          <section *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                            <section *ngIf="f['firstName'].errors.required">El campo es requerido</section>
                            <section *ngIf="f['firstName'].errors.minlength || f['firstName'].errors.maxlength">El nombre debe tener mínimo 6 y máximo 20 caracteres</section>
                          </section>
                        </section>
                      </section>
                    </section>
                    <section class="col">
                      <!-- Apellido -->
                      <section class="form-group row">
                        <label for="lastName" class="col-4 col-form-label">Apellidos</label>
                        <section class="col-md-8 input-group">
                          <section class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </section>
                          <input type="text" formControlName="lastName" class="form-control shadow-none" id="lastName" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors, 'is-valid': submitted && !f['lastName'].errors }">
                          <section *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                            <section *ngIf="f['lastName'].errors.required">El campo es requerido</section>
                            <section *ngIf="f['lastName'].errors.minlength || f['lastName'].errors.maxlength">El nombre debe tener mínimo 6 y máximo 20 caracteres</section>
                          </section>
                        </section>
                      </section>
                    </section>
                    <section class="col">
                      <!-- Correo -->
                      <section class="form-group row">
                        <label for="email" class="col-4 col-form-label">Correo Electrónico</label>
                        <section class="col-md-8 input-group">
                          <section class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                          </section>
                          <input type="text" formControlName="email" class="form-control shadow-none" id="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors, 'is-valid': submitted && !f['email'].errors }">
                          <section *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                            <section *ngIf="f['email'].errors.required">El campo es requerido</section>
                            <section *ngIf="f['email'].errors.email">Debe ser un correo electrónico válido</section>
                          </section>
                        </section>
                      </section>
                    </section>
                  </section>
              </section>
            </section>
            <section *ngIf="!isEdit" class="card border-0" id="security">
              <section class="col">
                <!-- Contraseña -->
                <section class="form-group row">
                  <label for="password"  class="col-4 col-form-label">Contraseña</label>
                  <section class="col-md-8 input-group">
                    <section class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </section>
                    <input type="text" formControlName="password" class="form-control shadow-none" id="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors, 'is-valid': submitted && !f['password'].errors }" appShowHidePassword>
                    <section *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                      <section *ngIf="f['password'].errors.required">El campo es requerido</section>
                      <section *ngIf="f['password'].errors.minlength || f['password'].errors.maxlength">La contraseña debe tener mínimo 6 y máximo 10 caracteres</section>
                    </section>
                  </section>
                </section>
              </section>
              <section class="col">
                <!-- Confirmar Contraseña -->
                <section class="form-group row">
                  <label for="confirmPassword" class="col-4 col-form-label">Confirmar Contraseña</label>
                  <section class="col-md-8 input-group">
                    <section class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </section>
                    <input type="text" formControlName="confirmPassword" class="form-control shadow-none" id="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors, 'is-valid': submitted && !f['confirmPassword'].errors }" appShowHidePassword>
                    <!--<a class="position-absolute pr-4" style="right: 0;"><i class="fas fa-eye-slash"></i></a>-->
                    <section *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                      <section *ngIf="f['confirmPassword'].errors.required">El campo es requerido</section>
                      <section *ngIf="f['confirmPassword'].errors.minlength || f['confirmPassword'].errors.maxlength">La contraseña debe tener mínimo 6 y máximo 10 caracteres</section>
                    </section>
                  </section>
                </section>
              </section>
            </section>
          </section>
        </section>
      <section class="bd-highlight mb-4 mb-4 text-center">
        <button class="border-0 btn-1 primary btn">Guardar</button>
      </section>
    </form>
  </section>
</ng-template>
