<form [formGroup]="profileFormGroup" (ngSubmit)="updateProfile()">
  <!-- FirstName -->
  <section class="form-group row">
    <label for="firstName" class="col-3 col-form-label">Nombre</label>
    <section class="col-md-7 input-group">
      <section class="input-group-prepend">
        <span class="input-group-text"><i class="far fa-user"></i></span>
      </section>
      <input type="text" formControlName="firstName" class="form-control shadow-none py-4" id="firstName" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors, 'is-valid': submitted && !f['firstName'].errors }">
      <section *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
        <section *ngIf="f['firstName'].errors.required">El campo es requerido</section>
        <section *ngIf="f['firstName'].errors.minlength || f['firstName'].errors.maxlength">El nombre debe tener mínimo 3 y máximo 20 caracteres</section>
      </section>
    </section>
  </section>
  <!-- LastName -->
  <section class="form-group row">
    <label for="lastName" class="col-3 col-form-label">Apellido</label>
    <section class="col-md-7 input-group">
      <section class="input-group-prepend">
        <span class="input-group-text"><i class="far fa-user"></i></span>
      </section>
      <input type="text" formControlName="lastName" class="form-control shadow-none py-4" id="lastName" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors, 'is-valid': submitted && !f['lastName'].errors }">
      <section *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
        <section *ngIf="f['lastName'].errors.required">El campo es requerido</section>
        <section *ngIf="f['lastName'].errors.minlength || f['lastName'].errors.maxlength">El apellido debe tener mínimo 3 y máximo 20 caracteres</section>
      </section>
    </section>
  </section>
  <!-- Email -->
  <section class="form-group row">
    <label for="email" class="col-3 col-form-label">Correo electrónico</label>
    <section class="col-md-7 input-group">
      <section class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
      </section>
      <input type="email" formControlName="email" class="form-control shadow-none py-4" id="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors, 'is-valid': submitted && !f['email'].errors }">
      <section *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <section *ngIf="f['email'].errors.required">El campo es requerido</section>
        <section *ngIf="f['email'].errors.pattern">Debe ser un correo electrónico válido</section>
      </section>
    </section>
  </section>
  <section class="bd-highlight mb-4 mt-5 text-left">
    <button class="border-0 btn-1 primary btn">Guardar</button>
  </section>
</form>
