<section>
  <section>
    <section *ngIf="rows === 0" class="card shadow">
      <section class="card-header"></section>
      <section class="card-body">
        <h5 class="card-title text-center">{{ rowsMessage }}</h5>
        <p class="card-text  text-center">Se debe crear un nuevo registro</p>
      </section>
      <section class="card-footer text-muted"></section>
    </section>
    <section *ngIf="rows > 0" class="row">
      <app-client-card
        *ngFor="let client of data"
        [client]="client"
        [clientName]="'orders'">
      </app-client-card>
    </section>
  </section>
</section>
