<ng-template #content let-c="close" let-d="dismiss">
  <!--Modal Header-->
  <section class="modal-header">
    <h4>Confirmación</h4>
    <button type="button" class="btn btn-light" (click)="closeModal('delete-administrator-modal')">
      <span>
        <i class="fas fa-times"></i>
      </span>
    </button>
  </section>
  <!--Modal Body-->
  <section class="modal-body">
    <section class="text-center">
      <i class="fas fa-exclamation-circle fa-4x mb-5 animated rotateIn text-secondary"></i>
      <p>Si está seguro de que desea eliminar el registro, en el cuadro de diálogo de confirmación haga clic en
        [Eliminar]</p>
    </section>
    <!--Modal Footer-->
    <section class="modal-footer justify-content-center">
      <button type="button" class="btn btn-danger" (click)="remove(id)">Eliminar</button>
      <button type="button" class="btn btn-info" data-dismiss="modal" (click)="closeModal('delete-administrator-modal')">No eliminar</button>
    </section>
  </section>
</ng-template>
