.box-flex-inline {
	display: inline-flex;
  flex-flow: row;
  width: 99%;
  justify-content: space-between;
}

.dropdown-styles {
  margin-top: 20px;
  margin-right: 50px;
  float: right;
}

.btn-outline-white {
	border: white;
  background: white;
  color: #484848;
  box-shadow: 0 0 0 0.2rem rgba(155, 158, 162, 0.03);
}

.custom-select {
	width: 190px;
  border: white;
  float: right;
  margin-right: 50px;
  color: #484848;
  box-shadow: 0 0 0 0.2rem rgba(155, 158, 162, 0.03);
  background: url(https://image.flaticon.com/icons/svg/25/25224.svg) no-repeat right .75rem center/8px 10px white;
}

.inline-flex {
  display: inline-flex;
}

.margin-l-z {
    margin-left: 0;
    justify-content: flex-end;
    margin-right: 1%;
}

.wid {
  width: 100vw;
}
.subt-table{
  margin-left: 1rem;
  margin-top: 1.5rem;
  margin-bottom: -25px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  button{
    margin-left: 0.5rem;
    font-size: small;
    border-radius: 4px;
    height: 30px;
    border: none;
  }
}
