<section class=" row header-summary"
  *ngIf="optionsNewClientCard && optionsOrderCard && data">
  <section class="col">
    <p class="header-text">Resumen</p>
  </section>
  <section class="col">
    <select (change)="changeRange($event)" class="browser-default custom-select">
      <option [value]="'0'" selected>Últimos 30 días</option>
      <option [value]="'1'">Último trimestre</option>
      <option [value]="'2'">Último año</option>
    </select>
  </section>
</section>
<section class="box-flex-inline">
  <app-info-card *ngIf="optionsNewClientCard" [options]="optionsNewClientCard"></app-info-card>
  <app-info-card *ngIf="optionsOrderCard" [options]="optionsOrderCard"></app-info-card>
</section>
<section>
  <section class="row">
    <section class="subt-table">
      <h5 >Ordenes Recientes</h5>
      <button (click)="goToOrders()" type="button" class="btn btn-outline-info btn-sm">Ver Ordenes</button>
    </section>
    <section class="col inline-flex">
      <app-datatable *ngIf="data" [options]="options" [settings]="settings" [data]="data"
        (selectedOption)="selectedOption($event)" class="wid"></app-datatable>
      <section class="row margin-l-z">
        <app-info-card *ngIf="optionsScheduleCard" [options]="optionsScheduleCard"></app-info-card>
      </section>
    </section>
  </section>
</section>
<section>
  <section class="row">
    <section class="col" *ngIf="dataGraphics" >
      <app-summary-graphics [data]="dataGraphics"></app-summary-graphics>
    </section>
  </section>
</section>
