<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <!-- Password -->
  <section class="bd-highlight input-group mb-4">
    <input type="password" formControlName="newPassword" class="form-control shadow-none py-4" id="newPassword" placeholder="Nueva contraseña" [ngClass]="{ 'is-invalid': submitted && f['newPassword'].errors, 'is-valid': submitted && !f['newPassword'].errors }" appShowHidePassword>
    <section *ngIf="submitted && f['newPassword'].errors" class="invalid-feedback">
      <section *ngIf="f['newPassword'].errors.required">El campo es requerido</section>
      <section *ngIf="f['newPassword'].errors.minlength || f['newPassword'].errors.maxlength">La contraseña debe tener mínimo 6 y máximo 10 caracteres</section>
    </section>
  </section>
  <!-- ConfirmPassword -->
  <section class="bd-highlight input-group mb-4 d-flex align-items-center">
    <input type="password" formControlName="confirmPassword" class="form-control shadow-none py-4" id="confirmPassword" placeholder="Confirmar contraseña" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors, 'is-valid': submitted && !f['confirmPassword'].errors }" appShowHidePassword>
    <section *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
      <section *ngIf="f['confirmPassword'].errors.required">El campo es requerido</section>
      <section *ngIf="f['confirmPassword'].errors.notmatch">Las contraseñas no coinciden</section>
    </section>
  </section>
  <section class="bd-highlight mb-4 d-flex justify-content-end">
    <button class="border-0 btn-1 primary btn-block btn-lg">Cambiar contraseña</button>
  </section>
</form>
