.shadow {
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.2);
}

.card {
  flex-direction: row;
  width: 292px;
  height: 292px;
  max-width: 292px;
}

.body-absolute {
  position: absolute;
  top: 70%;
  left: 14px;
  color: #ffffff;
}

.card-title {
  letter-spacing: 1.5px;
}

.f-ftn {
  font-size: 14px;
}

.b-img {
  background-color: rgba(0, 0, 0, 0.8);
  filter: brightness(0.6);
  object-fit: cover;
  height: 100%;
}

.btn-light {
  position: relative;
  width: 60.6px;
  height: 28.6px;
  float: right;
  font-size: 13px;
  color: white;
  border: none;
  background-color: #928d8d45;
}

.data-container {
  width: 260px;
  justify-content: space-between;
  max-width: 260px;
  height: 55px;
  max-height: 55px;
}
