<!-- Card -->
<section class="card shadow" (click)="goToDetail(client.id)" >
  <!-- Card image -->
  <section class="view overlay" *ngIf="client?.user.photo">
    <img class="card-img-top b-img" src="{{ client.user.photo }}" alt="Card image cap">
    <a href="#!">
      <section class="mask rgba-white-slight"></section>
    </a>
  </section>
  <section class="view overlay" *ngIf="!client?.user.photo">
    <img class="card-img-top b-img" src="assets/images/404.jpg" alt="Card image cap">
    <a href="#!">
      <section class="mask rgba-white-slight"></section>
    </a>
  </section>
  <!-- Card content -->
  <section class="body-absolute">
    <section class="d-flex data-container">
      <!-- Data -->
      <p class="">{{ client.user.firstName }} {{ client.user.lastName }}</p>
      <button *ngIf="clientName == 'orders'"  class="btn btn-light d-inline-flex">
        <i class="fas fa-images"></i>+2</button>
    </section>
    <!-- Text -->
    <p class="">{{ client.user.email }}</p>
  </section>
</section>
<!-- Card -->
