<section class="container-fluid">
  <section class="row">
    <section class="col-6 d-flex min-vh-100 bg-color-1">
      <section class="row p-5">
        <span class="text-uppercase font-weight-bold">VCC MEXICO</span>
      </section>
      <section class="row d-flex align-items-center">
        <picture>
          <img src="assets/images/{{ currentImage }}" alt="request-change-password" />
        </picture>
      </section>
    </section>
    <section class="col-4 min-vh-100 d-flex flex-column justify-content-center px-md-5">
      <!-- Request Change Password -->
      <section *ngIf="mailSent">
        <section class="bd-highlight mb-4">
          <h2>Revisa tu correo electrónico para cambiar tu contraseña actual.</h2>
        </section>
        <section class="bd-highlight mb-4 d-flex justify-content-end">
          <button (click)="sendMail()" class="btn-1 primary btn-block btn-lg">Volver a Enviar</button>
        </section>
        <section class="bd-highlight mb-4">
          <a routerLink="../login">Regresar</a>
        </section>
      </section>
      <!-- mailSent -->
      <section *ngIf="!mailSent">
        <section class="bd-highlight mb-4">
          <h2>Restablecer contraseña</h2>
        </section>
        <section class="mb-4 text-justify">
          Ingrese la dirección de correo electrónico asociada a tu cuenta y te enviaremos un correo electrónico con el enlace para cambiar tu contraseña.
        </section>
        <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
          <!-- Email -->
          <section class="bd-highlight input-group mb-4">
            <input type="text" formControlName="email" class="form-control shadow-none py-4" id="email" placeholder="Correo electrónico" [ngClass]="{ 'is-invalid': submitted && f['email'].errors, 'is-valid': submitted && !f['email'].errors }">
            <section *ngIf="submitted && f['email'].errors" class="invalid-feedback">
              <section *ngIf="f['email'].errors.required">El campo es requerido</section>
              <section *ngIf="f['email'].errors.pattern">Debe ser un correo electrónico válido</section>
            </section>
          </section>
          <section class="bd-highlight mb-4 d-flex justify-content-end">
            <button class="border-0 btn-1 primary btn-block btn-lg">Enviar</button>
          </section>
          <section class="bd-highlight mb-4">
            <a routerLink="../login">Regresar</a>
          </section>
        </form>
      </section>
    </section>
  </section>
</section>
