<section class="container-s-a" [ngStyle]="{ 'background-image': 'linear-gradient(132deg, '+ (options.backgroundWhite ? '#FFFFFF' : options.startColor) +', '+ (options.backgroundWhite ? '#FFFFFF' : options.endColor) +')'}">
  <i class="{{ options.icon }} icon margin-l margin-t" [style.background]="(options.backgroundWhite) ? options.startColor : '#d1e0f069'" [style.color]="(options.backgroundWhite) ? options.endColor : '#FFFFFF'"></i>
	<p class="font-number margin-l" [style.color]="(options.backgroundWhite) ? '#000000' : '#FFFFFF'">
    {{ options.title }}
  </p>
	<p class="font-text margin-l" [style.color]="(options.backgroundWhite) ? '#000000' : '#FFFFFF'">
    {{ options.subtitle }}
  </p>
  <button class="btn btn-s-a" [style.background-color]="(options.backgroundWhite) ? options.startColor : '#FFFFFF'"
  [style.color]="(options.backgroundWhite) ? '#000000' : '#3b86ff'" (click)="goTo(options.path)">{{ options.actionTitle }}</button>
</section>
