.container-s-a {
	margin-top: 35px;
  width: 258px;
  height: 232px;
  border-radius: 4px;
}

.margin-l {
	margin-left: 25px;
}

.margin-t {
	margin-top: 20px;
}

.icon {
	width: 36px;
  text-align: center;
  height: 36px;
  line-height: 2;
  border-radius: 50%;
}

.font-number {
  margin-top: 10px;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
}

.font-text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.btn-s-a {
  width: 156.5px;
  height: 40px;
  border-radius: 20px;
  margin-left: 14px;
  margin-top: 5px;
  letter-spacing: 0.36px;
  color: #3b86ff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
