.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: transparent;
  color: #007bff;
  border-bottom: 5px solid #007bff;
}

span.line:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-left: -10%;
  padding-bottom: 2%;
  border-top: 1px solid #E0E0E0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 12px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.primary:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label.switch {
  position: absolute;
  right: 25px;
  top: 13px;
}
