<section class="row p-3">
  <p class="header-text">Ajustes del Administrador</p>
</section>
<ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="true">Perfil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-avatar-tab" data-toggle="pill" href="#pills-avatar" role="tab" aria-controls="pills-avatar" aria-selected="false">Foto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-security-tab" data-toggle="pill" href="#pills-security" role="tab" aria-controls="pills-security" aria-selected="false">Seguridad</a>
  </li>
</ul>
<section class="tab-content" id="pills-tabContent">
  <section class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <section class="p-3">
      <app-profile-form></app-profile-form>
    </section>
  </section>
  <section class="tab-pane fade" id="pills-avatar" role="tabpanel" aria-labelledby="pills-avatar-tab">
    <section class="p-3">
      <app-avatar-card [type]="'avatar'"></app-avatar-card>
    </section>
  </section>
  <section class="tab-pane fade" id="pills-security" role="tabpanel" aria-labelledby="pills-security-tab">
    <section class="p-3 col-5 mx-auto">
      <app-change-password-form></app-change-password-form>
    </section>
  </section>
</section>
