
<app-datatable [settings]="settings" [data]="dataByDatable" [options]="options" (selectedOption)="selectedOption($event)"></app-datatable>
<app-delete-query (updateOrdenList)="updateList($event)"></app-delete-query>
<app-manage (updateOrdenList)="updateList($event)"></app-manage>