<section class="row">
  <section class="col md-8">
    <p class="header-text">Administradores</p>
  </section>
  <section class="col-md-4">
    <nav aria-label="breadcrumb">
      <ol class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)="new()">
          <i class="fas fa-user-plus"></i>
          <span class="ml-2">Nuevo</span>
        </button>
        <button type="button" id="btnRefresh" class="btn btn-light ml-2" (click)="listAdministrators()">
          <i class="fas fa-sync"></i>
          <span class="ml-2">Refrescar</span>
        </button>
      </ol>
    </nav>
  </section>
</section>
<section class="wid">
  <app-datatable [settings]="settings" [data]="data" [options]="options" (selectedOption)="selectedOption($event)"></app-datatable>
</section>
<app-administrator-manage (updateAdministratorList)="updateList($event)"></app-administrator-manage>
<app-administrator-delete (updateAdministratorList)="updateList($event)"></app-administrator-delete>
<app-administrator-detail></app-administrator-detail>
<app-upload-photo></app-upload-photo>
<app-change-password></app-change-password>
