<ng-template #content let-c="close" let-d="dismiss">
  <section class="card border-0  card border-0 -outline-secondary">
    <section class="modal-header">
      <h4 class="pl-3 pb-4 text-primary font-weight-light">Modificar contraseña<span class="badge badge-secondary"></span></h4>
      <button type="button" class="btn btn-light" (click)="closeModal('app-change-password')">
        <span class="text-secondary">
          <i class="fas fa-times"></i>
        </span>
      </button>
    </section>
  </section>
  <section class="p-3">
    <app-change-password-form></app-change-password-form>
  </section>
</ng-template>
