<section class="row">
  <section class="col md-8">
    <p class="header-text">Calendario</p>
  </section>
  <section class="col-md-4 text-right">
    <nav aria-label="breadcrumb">
      <ol>
        <button type="button" class="btn btn-primary" (click)="new()">
          <i class="fas fa-plus-circle"></i>
          <span class="ml-2">Agendar Cita</span>
        </button>
      </ol>
    </nav>
  </section>
</section>
<full-calendar #fullcalendar></full-calendar>
<app-calendar-manage></app-calendar-manage>
