<section class="container-fluid">
  <section class="row">
    <section class="col-6 d-flex min-vh-100 bg-color-1">
      <section class="row p-5">
        <span class="text-uppercase font-weight-bold">VCC MEXICO</span>
      </section>
      <section class="row d-flex align-items-center">
        <picture>
          <img src="assets/images/auth.png" alt="login" />
        </picture>
      </section>
    </section>
    <section class="col-4 min-vh-100 d-flex flex-column justify-content-center px-md-5">
      <section class="bd-highlight mb-4">
        <h2>Iniciar Sesión</h2>
      </section>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <section class="bd-highlight input-group mb-4">
          <input type="text" formControlName="email" class="form-control shadow-none py-4" id="email" placeholder="Correo electrónico" [ngClass]="{ 'is-invalid': submitted && f['email'].errors, 'is-valid': submitted && !f['email'].errors }">
          <section *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <section *ngIf="f['email'].errors.required">El campo es requerido</section>
            <section *ngIf="f['email'].errors.pattern">Debe ser un correo electrónico válido</section>
          </section>
        </section>
        <!-- Password -->
        <section class="bd-highlight input-group mb-4 d-flex align-items-center">
          <input type="password" formControlName="password" class="form-control shadow-none py-4" id="password" placeholder="Contraseña" [ngClass]="{ 'is-invalid': submitted && f['password'].errors, 'is-valid': submitted && !f['password'].errors }" appShowHidePassword>
          <section *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <section *ngIf="f['password'].errors.required">El campo es requerido</section>
            <section *ngIf="f['password'].errors.minlength || f['password'].errors.maxlength">La contraseña debe tener mínimo 6 y máximo 10 caracteres</section>
          </section>
        </section>
        <section class="bd-highlight mb-4">
          <a routerLink="../request-change-password">Olvidé mi contraseña</a>
        </section>
        <section class="bd-highlight mb-4">
          <a routerLink="../register-client-natural">Registro Persona Natural</a>
        </section>
        <section class="bd-highlight mb-4">
          <a routerLink="../register-client-legal">Registro Persona Juridica</a>
        </section>
        <section class="bd-highlight mb-4 d-flex justify-content-end">
          <button class="border-0 btn-1 primary btn-block btn-lg">Iniciar Sesión</button>
        </section>
      </form>
    </section>
  </section>
</section>
