<section class="container-fluid">
    <section class="row">
      <section class="col-6 d-flex min-vh-100 bg-color-1">
        <section class="row p-5">
          <span class="text-uppercase font-weight-bold">VCC MEXICO</span>
        </section>
        <section class="row d-flex align-items-center">
          <picture>
            <img src="assets/images/register.png" alt="login" />
          </picture>
        </section>
      </section>
      <section class="col-4 min-vh-100 d-flex flex-column justify-content-center px-md-5">
        <section class="bd-highlight mb-4">
          <h2>Registro Persona Natural</h2>
        </section>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <section class="form-row m-2">
            <!-- INe -->
            <section class="form-group col-12">
              <label for="ine" class="col-form-label">Ine</label>
              <section class="input-group">
                <section class="input-group-prepend">
                  <label class="input-group-text" for="ine"><i class="far fa-id-card"></i></label>
                </section>
                  <input formControlName="ine" type="text" class="form-control shadow-none" [ngClass]="{ 'is-invalid': submitted && f['ine'].errors, 'is-valid': submitted && !f['ine'].errors }">
                <section *ngIf="submitted && f['ine'].errors" class="invalid-feedback">
                  <section *ngIf="f['ine'].errors.required">El campo es requerido</section>
                </section>
              </section>
            </section>
          </section>
          <section class="form-row m-2">
            <!-- Nombre -->
            <section class="form-group col-6">
              <label for="firstName" class="col-form-label">Nombre</label>
              <section class="input-group">
                <section class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </section>
                <input type="text" formControlName="firstName" class="form-control shadow-none" id="firstName" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors, 'is-valid': submitted && !f['firstName'].errors }">
                <section *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                  <section *ngIf="f['firstName'].errors.required">El campo es requerido</section>
                  <section *ngIf="f['firstName'].errors.minlength || f['firstName'].errors.maxlength">El nombre debe tener mínimo 3 y máximo 20 caracteres</section>
                </section>
              </section>
            </section>
            <!-- Apellido -->
            <section class="form-group col-6">
              <label for="lastName" class="col-form-label">Apellido</label>
              <section class="input-group">
                <section class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </section>
                <input type="text" formControlName="lastName" class="form-control shadow-none" id="lastName" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors, 'is-valid': submitted && !f['lastName'].errors }">
                <section *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                  <section *ngIf="f['lastName'].errors.required">El campo es requerido</section>
                  <section *ngIf="f['lastName'].errors.minlength || f['lastName'].errors.maxlength">El nombre debe tener mínimo 3 y máximo 20 caracteres</section>
                </section>
              </section>
            </section>
          </section>
          <section class="form-row m-2">
            <!-- Gender -->
            <section class="form-group col-6">
              <label for="gender" class="col-form-label">Género</label>
              <section class="input-group">
                <section class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
                </section>
                <select formControlName="gender" class="form-control shadow-none" id="gender"
                  [ngClass]="{ 'is-invalid': submitted && f['gender'].errors, 'is-valid': submitted && !f['gender'].errors }">
                  <option value=""></option>
                  <option value="Masculino">Masculino</option>
                  <option value="Femenino">Femenino</option>
                  <option value="Prefiero No decirlo">Prefiero No decirlo</option>
                </select>
                <section *ngIf="submitted && f['gender'].errors" class="invalid-feedback">
                  <section *ngIf="f['gender'].errors.required">El campo es requerido</section>
                </section>
              </section>
            </section>
            <section class="form-group col-6">
              <label for="phone" class="col-form-label">Teléfono</label>
              <section class="input-group">
                <section class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-phone-square-alt"></i></span>
                </section>
                <input type="text" formControlName="phone" class="form-control shadow-none" id="phone"
                  [ngClass]="{ 'is-invalid': submitted && f['phone'].errors, 'is-valid': submitted && !f['phone'].errors }">
                <section *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                  <section *ngIf="f['phone'].errors.required">El campo es requerido</section>
                  <section *ngIf="f['phone'].errors.minlength || f['phone'].errors.maxlength">El teléfono debe tener mínimo 10 y máximo 11 caracteres</section>
                </section>
              </section>
            </section>
          </section>
          <!-- Address -->
          <section class="form-group col-12">
            <label for="address" class="col-form-label">Dirección</label>
            <section class="input-group">
              <section class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-address-book"></i></span>
              </section>
              <textarea type="text" formControlName="address" class="form-control shadow-none" id="address" [ngClass]="{ 'is-invalid': submitted && f['address'].errors, 'is-valid': submitted && !f['address'].errors }"></textarea>
              <section *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                <section *ngIf="f['address'].errors.required">El campo es requerido</section>
                <section *ngIf="f['address'].errors.minlength || f['address'].errors.maxlength">El teléfono debe tener mínimo 10 y máximo 11 caracteres</section>
              </section>
            </section>
          </section>
          <!-- Email -->
          <section class="form-group col-12">
            <label for="email" class="col-form-label">Correo electrónico</label>
            <section class="input-group">
              <section class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
              </section>
              <input type="text" formControlName="email" class="form-control shadow-none" id="email"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors, 'is-valid': submitted && !f['email'].errors }">
              <section *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <section *ngIf="f['email'].errors.required">El campo es requerido</section>
                <section *ngIf="f['email'].errors.email">Debe ser un correo electrónico válido</section>
              </section>
            </section>
          </section>
          <section class="form-row m-2">
            <!-- Password -->
            <section class="form-group col-md-6">
              <label for="password" class="col-form-label">Contraseña</label>
              <section class="input-group">
                <section class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </section>
                <input type="text" formControlName="password" class="form-control shadow-none" id="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors, 'is-valid': submitted && !f['password'].errors }" appShowHidePassword>
                <section *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                  <section *ngIf="f['password'].errors.required">El campo es requerido</section>
                  <section *ngIf="f['password'].errors.minlength || f['password'].errors.maxlength">La contraseña debe tener mínimo 6 y máximo 10 caracteres</section>
                </section>
              </section>
            </section>
            <!-- Password Confirm -->
            <section class="form-group col-md-6">
              <label for="confirmPassword" class="col-form-label">Confirmar Contraseña</label>
              <section class="input-group">
                <section class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </section>
                <input type="text" formControlName="confirmPassword" class="form-control shadow-none" id="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors, 'is-valid': submitted && !f['confirmPassword'].errors }" appShowHidePassword>
                <!--<a class="position-absolute pr-4" style="right: 0;"><i class="fas fa-eye-slash"></i></a>-->
                <section *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                  <section *ngIf="f['confirmPassword'].errors.required">El campo es requerido</section>
                  <section *ngIf="f['confirmPassword'].errors.minlength || f['confirmPassword'].errors.maxlength">La contraseña debe tener mínimo 6 y máximo 10 caracteres</section>
                </section>
              </section>
            </section>
          </section>
          <section class="bd-highlight mb-4">
            <a routerLink="../login">Regresar</a>
          </section>
          <section class="bd-highlight mb-4 d-flex justify-content-end">
            <button class="border-0 btn-1 primary btn-block btn-lg">Guardar</button>
          </section>
        </form>
      </section>
    </section>
  </section>
  