<section id="notfound">
  <section class="notfound">
    <!-- <section class="notfound-404">
      <h1>404</h1>
    </section> -->
    <img src="assets/images/404.png" alt="Página no encontrada">
    <!-- <link rel="icon" type="image/png" href="assets/images/404.png"/> -->
    <!-- <h2>Oops! No se encontró nada</h2> -->
    <p>
      La página que está buscando podría haberse eliminado o no está disponible temporalmente.
      <a href="/">Regresar a la página principal</a>
    </p>
  </section>
</section>
