.modal-header {
  padding: 1em;
  margin-bottom: 0;
  background: white;
  box-shadow: inset 0px 0px 13px #dbeef57d;
}

.modal-body {
  background: #f7f8f9;
  overflow-y: scroll;
}

input {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px #5f9ea05c solid;
  font-size: 0.8rem;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: small;
  color: #222929;
}

h5 {
  color: cadetblue;
}

.card {
  box-shadow: -3px 4px 5px #d3dfe7b0;
}

select {
  border: none;
  background-color: #d7ecef;
}

.custom-select:focus {
  border-color: #80bdff14;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: transparent;
  outline: 0;
  box-shadow: 0px 1px 0px 0rem rgba(0, 123, 255, .25);
}

.form-group img {
  width: 180px;
  height: 180px;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  padding: 1em;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 10px auto 30px;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 19px;
  z-index: 1;
  top: 13px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit .custom-label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #3efc78;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit .upload-image {
  background: #3efc78;
}

.avatar-upload .avatar-edit .remove-image {
  background: #E91E63;
}

.avatar-upload .avatar-edit .custom-label:hover {
  opacity: 1;
}

.avatar-upload .avatar-edit .custom-label:after {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 8px;
  right: 0;
  left: 2px;
  width: 18px;
}

.avatar-upload .avatar-edit .upload-image:after {
  content: url('/assets/edit.svg');
}

.avatar-upload .avatar-edit .remove-image:after {
  content: url('/assets/close.svg');
  left: 0px !important;
}

.avatar-upload .avatar-preview {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  border: 12px solid #fff;
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}

.avatar-upload .avatar-preview>section {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.error:focus,
.error {
  border-color: #E91E63;
  color: #E91E63;
}

.invalid-feedback {
  color: #E91E63;
}

.btn-danger,
body .btn-danger:hover {
  background: #E91E63;
  border-color: #E91E63;
  color: white;
}

.subjectList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.subjectList li {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.invalid-feedback {
  display: block;
}

.mb-3,
.my-3 {
  margin-bottom: 15px !important;
}

.custom-control {
  margin-bottom: 5px;
}

.custom-control label {
  font-weight: 400;
}

.vh-height {
  height: 140vh;
}
