<ng-template #content let-c="close" let-d="dismiss">
  <!--Modal Header-->
  <section class="modal-header">
    <h4>{{ title }}<span class="badge badge-secondary"></span></h4>
    <button type="button" class="btn btn-light" (click)="closeModal('manage-queries-modal')">
      <span>
        <i class="fas fa-times"></i>
      </span>
    </button>
  </section>
  <!--Modal Body-->
  <section class="modal-body">
    <form [formGroup]="queryFormGroup" (ngSubmit)="save()">
      <section class="row">
        <section class="col-12 card p-4">
          <h5>Pacientes</h5>
          <select formControlName="idPatient" class="custom-select  mb-3">
            <option *ngFor="let patient of data" [value]="patient.id">{{ patient.user.firstName }}
              {{ patient.user.lastName }}</option>
          </select>
          <h5>¿Que no te agrada de tu nariz?</h5>
          <textarea formControlName="opinionNose" name="" id="" cols="3" rows="3"></textarea>
          <h5>Fotos requeridas</h5>
          <section class="form-row justify-content-around">
            <!-- Frontal -->
            <section class="form-group col-md-3 p-2">
              <label class="d-block">Foto Frontal</label>
              <!-- Form starts -->
              <form [formGroup]="frontRegistrationForm">
                <section class="group-gap">
                  <!-- Upload image -->
                  <section class="avatar-upload">
                    <section class="avatar-edit">
                      <input type='file' id="frontUpload" accept=".png, .jpg, .jpeg" #frontFileInput
                        (change)="uploadFile($event)" />
                    </section>
                    <section class="avatar-preview">
                      <section id="frontImagePreview" [style.backgroundImage]="'url('+ frontImageUrl +')'">
                      </section>
                    </section>
                  </section>
                </section>
                <!-- Submit Button -->
                <section *ngIf="!isImageToUploadFront">
                  <button type="submit" class="btn btn-primary btn-sm btn-block"
                    (click)="frontFileInput.click();">Cargar</button>
                </section>
                <section *ngIf="isImageToUploadFront">
                  <button *ngIf="isImageToUploadFront" type="submit" class="btn btn-primary btn-sm btn-block"
                    (click)="frontFileInput.click();">Actualizar</button>
                  <button type="submit" class="btn btn-danger btn-sm btn-block"
                    (click)="removeUploadedFile('frontUpload');">Eliminar</button>
                </section>
              </form><!-- Form ends -->
            </section>
            <!-- end Frontal -->

            <!-- Base -->
            <section class="form-group col-md-3 p-2">
              <label class="d-block">Foto de Base</label>
              <!-- Form starts -->
              <form [formGroup]="baseRegistrationForm">
                <section class="group-gap">
                  <!-- Upload image -->
                  <section class="avatar-upload">
                    <section class="avatar-edit">
                      <input type='file' id="baseUpload" accept=".png, .jpg, .jpeg" #baseFileInput
                        (change)="uploadFile($event)" />
                    </section>
                    <section class="avatar-preview">
                      <section id="baseImagePreview" [style.backgroundImage]="'url('+ baseImageUrl +')'">
                      </section>
                    </section>
                  </section>
                </section>
                <!-- Submit Button -->
                <section *ngIf="!isImageToUploadBase">
                  <button type="submit" class="btn btn-primary btn-sm btn-block"
                    (click)="baseFileInput.click();">Cargar</button>
                </section>
                <section *ngIf="isImageToUploadBase">
                  <button *ngIf="isImageToUploadBase" type="submit" class="btn btn-primary btn-sm btn-block"
                    (click)="baseFileInput.click();">Actualizar</button>
                  <button type="submit" class="btn btn-danger btn-sm btn-block"
                    (click)="removeUploadedFile('baseUpload');">Eliminar</button>
                </section>
              </form><!-- Form ends -->
            </section>
            <!-- end Base -->
          </section>
          <section class="form-row justify-content-around">
            <!-- Perfil -->
            <section class="form-group col-md-3 p-2">
              <label class="d-block">Foto de Perfil</label>
              <!-- Form starts -->
              <form [formGroup]="profileRegistrationForm">
                <section class="group-gap">
                  <!-- Upload image -->
                  <section class="avatar-upload">
                    <section class="avatar-edit">
                      <input type='file' id="profileUpload" accept=".png, .jpg, .jpeg" #profileFileInput
                        (change)="uploadFile($event)" />
                    </section>
                    <section class="avatar-preview">
                      <section id="profileImagePreview" [style.backgroundImage]="'url('+ profileImageUrl +')'">
                      </section>
                    </section>
                  </section>
                </section>
                <!-- Submit Button -->
                <section *ngIf="!isImageToUploadProfile">
                  <button type="submit" class="btn btn-primary btn-sm btn-block"
                    (click)="profileFileInput.click();">Cargar</button>
                </section>
                <section *ngIf="isImageToUploadProfile">
                  <button *ngIf="isImageToUploadProfile" type="submit" class="btn btn-primary btn-sm btn-block"
                    (click)="profileFileInput.click();">Actualizar</button>
                  <button type="submit" class="btn btn-danger btn-sm btn-block"
                    (click)="removeUploadedFile('profileUpload');">Eliminar</button>
                </section>
              </form><!-- Form ends -->
            </section>
            <!-- end Perfil -->

            <!-- Personalizada -->
            <section class="form-group col-md-3 p-2">
              <label class="d-block">Foto Personalizada</label>
              <!-- Form starts -->
              <form [formGroup]="customRegistrationForm">
                <section class="group-gap">
                  <!-- Upload image -->
                  <section class="avatar-upload">
                    <section class="avatar-edit">
                      <input type='file' id="customUpload" accept=".png, .jpg, .jpeg" #customFileInput
                        (change)="uploadFile($event)" />
                    </section>
                    <section class="avatar-preview">
                      <section id="customImagePreview" [style.backgroundImage]="'url('+ customImageUrl +')'">
                      </section>
                    </section>
                  </section>
                </section>
                <!-- Submit Button -->
                <section *ngIf="!isImageToUploadCustom">
                  <button type="submit" class="btn btn-primary btn-sm btn-block"
                    (click)="customFileInput.click();">Cargar</button>
                </section>
                <section *ngIf="isImageToUploadCustom">
                  <button *ngIf="isImageToUploadCustom" type="submit" class="btn btn-primary btn-sm btn-block"
                    (click)="customFileInput.click();">Actualizar</button>
                  <button type="submit" class="btn btn-danger btn-sm btn-block"
                    (click)="removeUploadedFile('customUpload');">Eliminar</button>
                </section>
              </form><!-- Form ends -->
            </section>
            <!-- end Personalizada -->
          </section>
        </section>
      </section>
      <button class="btn btn-primary float-right mb-3 mt-3">Guardar</button>
    </form>
  </section>
</ng-template>