<section class="container">
  <section class="row custom-wrapper">
    <section class="col-md-12">
      <!-- Form starts -->
      <form [formGroup]="registrationForm">
        <section class="group-gap">
          <!-- Upload image -->
          <section class="avatar-upload">
            <section class="avatar-edit">
              <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
            </section>
            <section class="avatar-preview">
              <section id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
              </section>
            </section>
          </section>
        </section>
        <!-- Submit Button -->
        <section *ngIf="!isImageToUpload">
          <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="fileInput.click();">Cargar</button>
        </section>
        <section *ngIf="isImageToUpload">
          <button *ngIf="isImageToUpload && !haveToUpdate" type="submit" class="btn btn-primary btn-lg btn-block" (click)="fileInput.click();">Actualizar</button>
          <button *ngIf="isImageToUpload && haveToUpdate" type="submit" class="btn btn-info btn-lg btn-block" (click)="save()">Guardar</button>
          <button type="submit" class="btn btn-danger btn-lg btn-block" (click)="removeUploadedFile();">Eliminar</button>
        </section>
      </form><!-- Form ends -->
    </section>
  </section>
</section>
