#container-chart {
  margin-top: 32px;
  width: 100%;
  height: 450px;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(216, 227, 235, 0.2);
  background-color: #ffffff;
}

#lineChart {
	display: flex;
  position: relative;
  margin: 0px auto;
}
