<ng-template #content let-c="close" let-d="dismiss">
  <!--Modal Header-->
  <section class="modal-header">
    <h4>{{ title }}<span class="badge badge-secondary"></span></h4>
    <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" class="white-text">&times;</span>
    </button>
  </section>
  <!--Modal Body-->
  <section class="modal-body">
    <form>


    </form>
  </section>
</ng-template>
