<section class="container-fluid">
  <section class="row">
    <section class="col-6 d-flex min-vh-100 bg-color-1">
      <section class="row p-5">
        <span class="text-uppercase font-weight-bold">VCC MEXICO</span>
      </section>
      <section class="row d-flex align-items-center">
        <picture>
          <img class="img-fluid" src="assets/images/auth.png" alt="change-password" />
        </picture>
      </section>
    </section>
    <section class="col-4 min-vh-100 d-flex flex-column justify-content-center px-md-5">
      <section class="bd-highlight mb-4">
        <h2>Introduce una nueva contraseña</h2>
      </section>
      <app-change-password-form (passwordChanged)="verifyPasswordChanged($event)"></app-change-password-form>
    </section>
  </section>
</section>
