<section class="card-table-query">
  <!-- FILTER -->
  <section class="row mb-2">
    <section class="col-4">
      <section class="btn-group" dropdown>
        <button id="btnBuscar" dropdownToggle type="button" class="btn btn-light btn-sm ml-2 dropdown-toggle"
          aria-controls="dropdown-basic">
          Seleccionar filtro
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="btnBuscar">
          <li *ngFor="let column of settings" role="menuitem"><a class="dropdown-item" *ngIf="column.filter"
              (click)="changeSortBy(column.id, column.title)">{{column.title}}</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="changeSortBy(null, '')">Reiniciar</a></li>
        </ul>
      </section>
    </section>
    <section class="col-md-7" *ngIf="sortByName != ''">
      <input class="form-control input-filter" placeholder="Filtar por: {{ sortByName }}" [(ngModel)]="filterQuery" />
    </section>
  </section>

  <!-- TABLE -->
  <table class="table" [mfData]="data | dataFilter : sortBy : filterQuery" #mf="mfDataTable"
    [mfRowsOnPage]="rowsOnPage">
    <thead>
      <tr>
        <th *ngFor="let column of settings" scope="col">
          <mfDefaultSorter by="{{ column.id }}">{{ column.title }}</mfDefaultSorter>
        </th>
        <th *ngIf="options">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of mf.data">
        <td class="info-details" *ngFor="let column of settings">
          <ng-container *ngIf="column.id == 'date' " >
              {{ element[column.id] | date }}
          </ng-container>
          <ng-container *ngIf="column.id != 'date' " >
              {{ element[column.id]  }}
          </ng-container>
        </td>
        <td *ngIf="options">
          <section class="btn-group" dropdown>
            <button id="dropdownMenuOffset" dropdownToggle type="button" class="btn btn-light btn-sm dropdown-toggle"
              aria-controls="dropdown-basic" aria-hidden="true">
              <i class="fas fa-ellipsis-h"></i>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
              aria-labelledby="dropdownMenuOffset">
              <li role="menuitem" *ngFor="let current of options">
                <a class="dropdown-item" (click)="option(current, element.id, element.idUser)">{{ current.title }}</a>
              </li>
            </ul>
          </section>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="8">
          <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</section>