<!-- Modal -->
<section class="modal fade" id="DiagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <section class="modal-dialog" role="document">
    <section class="modal-content">
      <section class="modal-body">
        <section class="row mr-0">
          <section id="dark-card" class="col-md-3">
            <section class="card">
              <img class="card-img-top"
                src="https://images.unsplash.com/photo-1571455455926-78f960ff3510?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                alt="Card image cap">
              <section class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <img id="img-card-small"
                      src="https://images.unsplash.com/photo-1559939250-f18e185ac3c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                      alt="" class="mr-3">
                    <span class="align-middle">Dr. Froilán Páez</span>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-procedures mr-3"></i>
                    <span class="align-middle">Rinoplastia Secundaria</span>
                  </li>
                  <li class="list-group-item">
                    <i class="far fa-file-alt mr-3"></i>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum enim dignissimos doloremque
                      porro necessitatibus.</span>
                  </li>
                </ul>
                <span class="icon-back">
                  <a class="">
                    <i class="fas fa-arrow-left mr-3"></i>
                    Volver
                  </a>
                </span>
              </section>
            </section>
          </section>
          <section class="col-md-9" style="padding: 3em;max-width: 70%;">
            <h2 class="d-inline-flex white-color mb-4">Facturación</h2>
            <button type="button" class="close mb-4 close-btn" data-dismiss="modal" aria-label="Close">
              Cerrar
            </button>
            <section id="dark-card-large">
              <section class="card">
                <section class="card-body">
                  <span id="card-l-header">
                    <h3 class="white-color">Crear Factura</h3>
                    <section>
                      <a class="btn btn-outline-primary mr-3" href="#" role="button"><i class="fas fa-download"></i></a>
                      <a class="btn btn-outline-primary mr-3" href="#" role="button"><i
                          class="fas fa-paperclip"></i></a>
                      <a class="btn btn-primary" href="#" role="button"><i class="fas fa-paper-plane"></i> Enviar</a>
                    </section>
                  </span>
                  <form class="mt-4">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <section class="form-row">
                          <section class="form-group col-md-6">
                            <label>De:</label>
                            <input type="text" class="form-control" placeholder="Nombre del Doctor">
                          </section>
                          <section class="form-group col-md-6">
                            <label>Número de Factura</label>
                            <input type="number" class="form-control" placeholder="Nº de Factura">
                          </section>
                        </section>
                        <section class="form-row">
                          <section class="form-group col-md-6">
                            <label>Paciente</label>
                            <input type="text" class="form-control" placeholder="Nombre del Paciente">
                          </section>
                          <section class="form-group col-md-6">
                            <label>Fecha</label>
                            <input type="text" class="form-control" placeholder="15/04/2019">
                          </section>
                        </section>
                      </li>
                      <li class="list-group-item">
                        <section class="form-row mb-5">
                          <section class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Descripción">
                          </section>
                          <section class="form-group col-md-4">
                            <input type="number" class="form-control" placeholder="Monto">
                          </section>
                          <section class="circle-section">
                            <button class="btn btn-outline-primary rounded-circle size-btn"><i
                                class="fas fa-times"></i></button>
                          </section>
                        </section>
                        <section class="form-row">
                          <section class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Descripción">
                          </section>
                          <section class="form-group col-md-4">
                            <input type="text" class="form-control" placeholder="Monto">
                          </section>
                          <section class="circle-section">
                            <button class="btn btn-primary rounded-circle size-btn"><i class="fas fa-plus"></i></button>
                          </section>
                        </section>
                      </li>
                    </ul>
                  </form>
                  <section class="mt-4">
                    <span>Total</span>
                    <h3 class="white-color">4,500.00</h3>
                  </section>
                </section>
              </section>
            </section>
            <section>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>
