.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: #262626;
}

.modal-body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  overflow: auto;
  padding: 0;
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: 100%;
      margin: 0;
  }
}

#dark-card {
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #1d1d1d;
    background-clip: border-box;
    border: 0;
    border-radius: 0;
    height: 90%;
    color: #818a91;
  }

  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem !important;
  }

  .list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff0;
    border: 1px solid rgba(117, 78, 78, 0);
    border-bottom: 1px solid #262626;
  }

  #img-card-small {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }

  .icon-back {
    position: relative;
    top: 4vh;
    color: #3b86ff;
  }
}

.white-color {
  color: #fff;
}

.close-btn {
  color: #9e9e9e;
  text-shadow: none;
  font-weight: 300;
  font-size: 16px;
  margin-top: 15px;
  opacity: 1;
}

#dark-card-large {
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #1d1d1d;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
  }

  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem !important;
  }

  #card-l-header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
  }

  .list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
  }

  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #5251517a!important;
    background-clip: padding-box;
    border: none!important;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .circle-section {
    display: flex;
    margin: 0 auto;
  }

  button.size-btn {
    width: 50px;
    height: 50px;
    position: relative;
    top: -5px;
  }
}
