<section class="container-fluid">
  <section class="row">
    <section class="col-9">
      <p class="header-text">Ordenes</p>
    </section>
    <section class="col-3">
      <button type="button" class="btn btn-primary float-r" (click)="new()"><i class="fas fa-folder-plus"></i> Nueva Orden</button>
    </section>
  </section>
  <section class="row">
    <section class="col-12">
      <section class="btn-group float-r" btnRadioGroup >
        <label class="btn btn-light" btnRadio="Left" uncheckable tabindex="0" role="button"
          (click)="changeView(false)"><i class="fas fa-th"></i></label>
        <label class="btn btn-light" btnRadio="Right" uncheckable tabindex="0" role="button"
          (click)="changeView(true)"><i class="fas fa-list"></i></label>
      </section>
    </section>
  </section>
</section>
<app-list-item [data]="data" *ngIf="!value"></app-list-item>
<app-list-table [data]="data" (isDeletedAQuery)="updateQueries($event)" *ngIf="value"></app-list-table>
<app-manage (updateQueryList)="updateList($event)"></app-manage>
