<ng-template #content let-c="close" let-d="dismiss">
  <!--Modal Header-->
  <section class="modal-header">
    <h4>Información del Administrador</h4>
    <button type="button" class="btn btn-light" (click)="closeModal('detail-administrator-modal')">
      <span>
        <i class="fas fa-times"></i>
      </span>
    </button>
  </section>
  <!--Modal Body-->
  <section class="modal-body">
    <section class="row full-h">
      <section class="col-5">
        <section class="container-modal-img">
          <img [src]="image" class="img-thumbnail img-info-modal" alt="Foto Perfil">
        </section>
      </section>
      <section class="col-7">
        <section class="col">
          <h5>Nombres:</h5>
          <p class="font-weight-normal">{{ administrator?.firstName }}</p>
        </section>
        <section class="col">
          <h5>Apellidos:</h5>
          <p class="font-weight-normal">{{ administrator?.lastName }}</p>
        </section>
        <section class="col">
          <h5>Rol:</h5>
          <p class="font-weight-normal">{{ administrator?.role.name }}</p>
        </section>
        <section class="col">
          <h5>Correo Electrónico:</h5>
          <p class="font-weight-normal">{{ administrator?.email }}</p>
        </section>
      </section>
    </section>
  </section>
</ng-template>
